
body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}


.topcontainer
{
    margin: auto;
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    width: 1000px;
    align-self: center;
    flex-direction: column;
}


.topcontent{
    border: 2px;
    width: 700px;
    text-align: center;
    border-style: solid;
    align-self:center;

}


span{
    margin-right: 8px;
    margin-left: 8px;
}

.links
{
    display: inline-block;
    font-size: 13px;
    color: grey;
    justify-content: space-evenly;
    margin-bottom: 30px;
    text-decoration: none; 
}


h1{
    margin-top: 30px;
    margin-bottom: 0px;
}

.Table{
    font-size: x-large;
}

.bottomcontent{
    display: flex;
    flex-direction: column;
    margin:auto;
}

.images{
    display: flex;
    flex-direction: column;
    width: 1000px;
    overflow: hidden;
}

.pier{
    object-fit: cover;
    overflow: hidden;
    height: 1000px;
    width: 1000px;
    margin-bottom: 10px;
}

.road{
    object-fit: cover;
    overflow: hidden;
    height: 1000px;
    width: 1000px;
    margin-bottom: 10px;
}

.lake{
    object-fit: cover;
    overflow: hidden;
    height: 1000px;
    width: 1000px;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.signoff{
    width: 700px;
    text-align: center;
    font-size: 10.5px;
    margin-bottom: 0px;
    color: rgb(90, 89, 89);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
}

.sociallogo{
    object-fit: cover;
    justify-content: space-evenly;
    display: inline-block;
    margin-top: 17px;
    align-self: center;
}

a:link{
    color: black;
}