.topcontainer
{
    margin: auto;
    width: 100%;
    display: block;
    margin-bottom: 80px;
}


.topcontent{
    border: 2px;
    width: 700px;
    text-align: center;
    border-style: solid;
    margin-left: 200px;
    margin-right: 200px;
}


span{
    margin-right: 8px;
    margin-left: 8px;
}

.links
{
    display: inline-block;
    font-size: 13px;
    color: black;
    justify-content: space-evenly;
    margin-bottom: 30px; 
}


h1{
    margin-top: 30px;
    margin-bottom: 0px;
}

.Table{
    font-size: x-large;
}

.images{
    display: block;
    margin-left: 70px;
    margin-right: 70px;
    width: 1000px;
    overflow: hidden;
}

.pier{
    object-fit: cover;
    overflow: hidden;
    height: 1000px;
    width: 1000px;
}

.road{
    object-fit: cover;
    overflow: hidden;
    height: 1000px;
    width: 1000px;
}

.lake{
    object-fit: cover;
    overflow: hidden;
    height: 1000px;
    width: 1000px;
}

.bottom{
    margin: auto;
    display: block;
}

.signoff{
    width: 700px;
    text-align: center;
    margin-left: 210px;
    font-size: 11px;
    margin-bottom: 0px;
}

.sociallogo{
    object-fit: cover;
    justify-content: space-evenly;
    margin-left: 497px;
    display: inline-block;
    margin-top: 10px;
}

a:link{
    color: black;
}